<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />

    <!-- Favicon Icon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-ico" />

    <title>Randy's | Pizza a domicilio</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/cart.css">
    <link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animsition.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/pe-icon-7-stroke.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/prettyPhoto.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/media.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/js_composer.min.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Merriweather%3A400%2C400italic%2C700%7COswald%3A400%2C700%2C300&amp;ver=1.0.0' type='text/css' media='all' />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">



</head>

<body class="page  page-template-default wpb-js-composer js-comp-ver-4.11.1 vc_responsive">
    <div class="animsition global-wrapper">

        <div id="header" class="header-wrapper" style="background-image: url({{assets('frontend/images/header.jpg')}}">
            <div class="header-search">
                <div class="search-wrap">
                    <div class="center">
                        <div class="serach-inside">
                            <form method="get" id="searchform" class="search-form" action="#">
                                <div>
                                    <input type="text" id="s" name="s" value="Type text and hit enter" onfocus="if(this.value=='Type text and hit enter')this.value='';" onblur="if(this.value=='')this.value='Type text and hit enter';" autocomplete="off">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center">
                <div class="header-inside">
                    <div class="logo">
                        <a href="index.html" title="Randy's"><img id="logoImage" width="200px" height="70px" src="images/logo-retina.jpg" alt="STEWEYS - Pizza" /><img id="logoImageRetina" src="upload/logo-retina.jpg" alt="STEWEYS - Pizza" /></a>
                        <div class="clear"></div>
                    </div>
                    <div class="main-menu">
                        <div class="menu-main-nav-menu-container">
                            <ul id="menu-main-nav-menu" class="sf-menu">
                                <li class="menu-item"><a href="index.html">Inicio</a></li>
                                <li class="menu-item"><a href="about.html">Acerca de</a></li>
                                <li class="menu-item  current-menu-item menu-item-has-children"><a href="menu.html">Menu</a>
                                    <ul class="sub-menu ">
                                        <li class="menu-item"><a href="pizzas.html">Pizzas</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="blog.html">Ingresar</a></li>
                                <!--li class="menu-item"><a href="contact.html">Contact</a></li-->
                            </ul>
                        </div>
                    </div>
                    <div class="search-icon">
                        <div class="icons icon-search"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="container-wrapper">
            <div class="page-title-wrapper">
                <div class="center">
                    <div class="page-title">
                        <div class="page-title-preimage"><img alt="Pretitle-image" src="{{assets('frontend/images/pizza.svg')}}"></div>
                        <h1>Pizzas</h1>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div id="container">
                <!-- start container -->
                <div class="center">
                    <div class="page-wrapper">
                        <div class="main">
                            <div id="post-8" class="post-8 page type-page status-publish hentry">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_content_element vc_portfolio_items">
                                                    <div class="portfolio-items-wrapper">

                                                        <div class="portfolio-items-single columns3"><img class="portfolio-frame" src="images/frame.png" />
                                                            <div class="portfolio-frame-shadow"></div>
                                                            <a class="portfolio-url-thumb" href="#" title="Margarita"><img class="portfolio-inner-frame" src="images/inner-shadow.png" />
                                                                <div class="view-overlay-icon pe-7s-plus"></div>
                                                                <div class="view-overlay-bg"></div>
                                                            </a>
                                                            <div class="portfolio-items-single-thumb" href="#" title="Margarita"><img src="images/pizzas/pizza-5.jpg" width="313" height="220" alt="1" /></div>
                                                            <div class="clear"></div>
                                                            <div class="portfolio-items-single-description-wrapper">
                                                                <div class="portfolio-items-single-icon"><img src="images/pizza-slice-black.png" ?></div>
                                                                <div class="portfolio-items-single-description"><a class="portfolio-items-single-title" href="orden.html" title="Margarita">Margarita</a>
                                                                    <div class="portfolio-items-single-content">
                                                                        <p>Peperoni, Queso, Olivas negras, Salsa de Tomate, Hongos, Carne, Cebolla, Ensalada</p>
                                                                    </div>
                                                                    <div class="portfolio-items-single-details">
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Pequeña</div>
                                                                            <div class="portfolio-detail-value">4,70 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Mediana</div>
                                                                            <div class="portfolio-detail-value">7,10 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Grande</div>
                                                                            <div class="portfolio-detail-value">12,40 Bs.S</div>
                                                                            <a style="margin-top: 35px" href="#0" data-target=".modal-orden" data-toggle="modal" class="cd-add-to-cart mt-4" data-price="25.99">Añadir a la carta</a>                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="portfolio-item-separator portfolio-item-separator1">
                                                            <div class="clear"></div>
                                                            <div class="post-separator"><img src="images/separator.png" alt="" /></div>
                                                        </div>

                                                        <div class="portfolio-items-single columns3"><img class="portfolio-frame" src="images/frame.png" />
                                                            <div class="portfolio-frame-shadow"></div>
                                                            <a class="portfolio-url-thumb" href="#" title="Granjera"><img class="portfolio-inner-frame" src="images/inner-shadow.png" />
                                                                <div class="view-overlay-icon pe-7s-plus"></div>
                                                                <div class="view-overlay-bg"></div>
                                                            </a>
                                                            <div class="portfolio-items-single-thumb" href="#" title="Granjera"><img src="images/pizzas/pizza-6.jpg" width="313" height="220" alt="from-farm" /></div>
                                                            <div class="clear"></div>
                                                            <div class="portfolio-items-single-description-wrapper">
                                                                <div class="portfolio-items-single-icon"><img src="images/pizza-slice-black.png" ?></div>
                                                                <div class="portfolio-items-single-description"><a class="portfolio-items-single-title" href="orden.html" title="Granjera">Granjera</a>
                                                                    <div class="portfolio-items-single-content">
                                                                        <p>Hongos frescos, pimientos frescos, tomates, aceitunas negras, carne y salsas. </p>
                                                                    </div>
                                                                    <div class="portfolio-items-single-details">
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Pequeña</div>
                                                                            <div class="portfolio-detail-value">3.20 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Mediana</div>
                                                                            <div class="portfolio-detail-value">7.40 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Grande</div>
                                                                            <div class="portfolio-detail-value">11.80 Bs.S</div>
                                                                        <a style="margin-top: 35px" href="#0" data-target=".modal-orden" data-toggle="modal" class="cd-add-to-cart mt-4" data-price="25.99">Añadir a la carta</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="portfolio-item-separator portfolio-item-separator2 odd_element">
                                                            <div class="clear"></div>
                                                            <div class="post-separator"><img src="images/separator.png" alt="" /></div>
                                                        </div>

                                                        <div class="portfolio-items-single columns3"><img class="portfolio-frame" src="images/frame.png" />
                                                            <div class="portfolio-frame-shadow"></div>
                                                            <a class="portfolio-url-thumb" href="#" title="Napolitana"><img class="portfolio-inner-frame" src="images/inner-shadow.png" />
                                                                <div class="view-overlay-icon pe-7s-plus"></div>
                                                                <div class="view-overlay-bg"></div>
                                                            </a>
                                                            <div class="portfolio-items-single-thumb" href="#" title="Napolitana"><img src="images/pizzas/pizza-7.jpg" width="313" height="220" alt="napolitana" /></div>
                                                            <div class="clear"></div>
                                                            <div class="portfolio-items-single-description-wrapper">
                                                                <div class="portfolio-items-single-icon"><img src="images/pizza-slice-black.png" ?></div>
                                                                <div class="portfolio-items-single-description"><a class="portfolio-items-single-title" href="orden.html" title="Napolitana">Napolitana</a>
                                                                    <div class="portfolio-items-single-content">
                                                                        <p>Tomate, oregano, ajo, aceite de oliva extra virgen, peperoni, queso, cebolla roja,  salsa y hongos. </p>
                                                                    </div>
                                                                    <div class="portfolio-items-single-details">
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Pequeña</div>
                                                                            <div class="portfolio-detail-value">4.60 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Mediana</div>
                                                                            <div class="portfolio-detail-value">6.20 Bs.S</div>
                                                                        </div>
                                                                        <div class="portfolio-detail">
                                                                            <div class="portfolio-detail-caption">Grande</div>
                                                                            <div class="portfolio-detail-value">9.40 Bs.S</div>
                                                                        <a style="margin-top: 35px" href="#0" data-target=".modal-orden" data-toggle="modal" class="cd-add-to-cart mt-4" data-price="25.99">Añadir a la carta</a>
                                                                        </div>
                                                                        <div class="clear"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear">
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <!-- end container -->
            <div class="clear"></div>
                    
            <div class="cd-cart-container empty">
                <a href="#0" class="cd-cart-trigger">
                    Carta 
                    <ul class="count"> <!-- cart items count -->
                        <li>0</li>
                        <li>0</li>
                    </ul> <!-- .count -->
                </a>
            
                <div class="cd-cart">
                    <div class="wrapper">
                        <header>
                            <h2>Carta</h2>
                            <span class="undo">Item eliminado. <a href="#0">Deshacer</a></span>
                        </header>
                        
                        <div class="body">
                            <ul>
                                <!-- products added to the cart will be inserted here using JavaScript -->
                            </ul>
                        </div>
            
                        <footer>
                            <a href="#0" class="checkout btn-checkout"><em>Pagar - <span>10</span>Bs.S</em></a>
                        </footer>
                    </div>
                </div> <!-- .cd-cart -->
            </div> <!-- cd-cart-container -->
        </div>

        <!-- Large modal -->

        <div class="modal fade modal-orden" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                        

                    <div class="modal-header">
                        <p>Pizza Margarita</p>
                    </div>
                             
                    <div class="modal-body">

                        <div class="row justify-content-center">
                                <img  src="images/pizzas/pizza-1.jpg" class="img-fluid" alt="" style="width: 200px; height: 200px">
                            
                        </div>
                        <h1 class="text-center ">Pizza Margarita</h1>

                        <h3>Personalizar Pizza</h3>
                        <div class="row">
                            
                            <div class="col-sm-3 col-xs-12">
                                <div class="form-group">
                                    
                                    <label for="size">Tamaño</label>
                                    <select class="form-control" id="size">
                                        <option>Pequeña</option>
                                        <option>Mediana</option>
                                        <option>Grande</option>

                                        </select>                                       

                                </div>
                            </div>
                            <div class="col-sm-9 col-xs-12">
                                <div class="form-group">
                                    <label for="">Preparación Especial</label>
                                    <textarea class="form-control" placeholder="Ej. Bordes tostados"></textarea>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            
                            <div class="col-sm-12 ">
                                   

                                <h3>Toppings</h3>
                                    
                            </div>
                        



                        </div>
                        <div class="row">

                            <div class="col-xs-12 col-sm-5">
                                <div class="form-group">

                                    <label for="toppings">Agregar</label>
                                    <select class="form-control mb-3" id="toppings">
                                        <option>Champiñones</option>
                                        <option>Queso</option>
                                        </select>          
                                </div>                             

                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <div class="form-group">

                                    <label for="cantidad">Cantidad</label>
                                    <select class="form-control mb-3" id="cantidad">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        </select>       
                                </div>                                

                            </div>
                            <div class="col-xs-12 col-sm-2">
                                <div class="form-group">
                                <button class="btn btn-danger white-text " style="margin-top:25px;">Agregar</button></div>
                            </div>

                        </div>
                        <div class="row">
                            
                            <div class="col-sm-12 col-xs-12">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <div class="float-sm-left">Champiñones x 3</div>
                                        <div class="float-sm-right"><div class="badge badge-danger">0.75 Bs.S</div></div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="float-sm-left">Queso Parmesano x 3</div>
                                        <div class="float-sm-right"><div class="badge badge-danger">0.75 Bs.S</div></div>
                                    </li>

                                    <li class="list-group-item">
                                        <div class="float-sm-left">Total:</div>
                                        <div class="float-sm-right"><div class="badge badge-danger text-bold">1.50 Bs.S</div></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col text-right">
                                <h4><strong>Total:</strong> 134 Bs.S </h4>
                            </div>
                        </div>
                            
                        <div class="row mt-2">
                            <div class="col text-right">

                                <div class="btn btn-danger white-text">Realizar Orden</div>
                            </div>
                        </div>
                    </div>                 
                </div>
                        
            </div>
        </div>
        <!-- end container-wrapper -->
        <div id="footer" class="footer">
                <div class="center">
                    <div class="footer-left">
                       Todos los derechos e izquierdos reservados &copy 2018 </div>
                    <div class="footer-right">
                        <ul class="socials-sh">
                            <li>
                                <a class="sh-socials-url icon-facebook" href="#" title="My Facebook profile" target="_blank"></a>
                            </li>
                            <li>
                                <a class="sh-socials-url icon-instagram" href="#" title="Instagram" target="_blank"></a>
                            </li>
                            <li>
                                <a class="sh-socials-url icon-pinterest" href="#" title="Pinterest" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

    </div>
   <style>
    .modal-lg {
        max-width: 80% !important;
    }
</style>
    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script type='text/javascript' src='js/modernizr.custom.js'></script>
    <script type='text/javascript' src='js/jquery.animsition.min.js'></script>
    <script type='text/javascript' src='js/superfish.js'></script>
    <script type='text/javascript' src='js/jquery.mobilemenu.js'></script>
    <script type='text/javascript' src='js/custom.js'></script>
    <script type='text/javascript' src='js/js_composer_front.min.js'></script>
</body>
</html>