<template>
    <div id="laravel-echo">
        <template v-if="isConnected">
            <ul v-for="object in notifications">
                {{ object }}
            </ul>
            <button @click="disconnect">Disconnect</button>
        </template>
        <template v-else-if="currentUser">
            <button @click="connect">Connect</button>
        </template>
    </div>
</template>


<script>
    import Pusher from 'pusher-js'
    import Echo from "laravel-echo"


    export default {
        name: 'laravel-echo',
        data() {
            return {
                echo: null,
                currentUser: null,
                notifications: [],
                isConnected:null,
            }
        },
        // computed: {
        //     currentUser: {
        //         cache: false,
        //         get(){ return this.$store.getters.currentUser }
        //     },
        //     notifications: {
        //         cache: false,
        //         get(){ return this.$store.getters.notifications.reverse() }
        //     },
        //     isConnected: {
        //         cache: false,
        //         get(){
        //             return (this.echo &&   this.echo.connector.pusher.connection.connection !== null)
        //         }
        //     },
        // },
        watch: {
            currentUser: {
                handler(currentUser){
                    (currentUser !== null ? this.connect() : this.disconnect())
                }
            },
            isConnected: {
                handler(isConnected){
                    this.$emit('broadcasting:status', isConnected)
                }
            }
        },
        methods: {
            connected(e) {
              console.log('Connected')
              console.log(e);
            },
            disconnected(e) {
                console.log('Disconnected')
                console.log(e);
            },
            /** Connect Echo **/
            connect(){
                if(!this.echo){
                    this.echo = new Echo({
                        broadcaster: 'pusher',
                        key: '9a954494eaf2e18050be',
                        cluster: 'us2',
                        encrypted: true,
                        authEndpoint: 'http://pizza.test/broadcasting/auth',
                        auth: {
                            headers: {
                                Authorization: null
                            }
                        },
                        //csrfToken: null,
                        //namespace: 'App',
                    })
                    this.echo.connector.pusher.logToConsole = true;
                    this.echo.connector.pusher.connection.bind('connected', (event) => this.connected(event))
                    this.echo.connector.pusher.connection.bind('disconnected', () => this.disconnected())

                }
                this.echo.connector.pusher.config.auth.headers.Authorization = 'Bearer ' + this.$auth.token()
                    this.echo.connector.pusher.connect()
            },
            leave(channel) {
              this.echo.leave(channel);
            },
            bindChannel(channel,event,hook) {
                this.echo.private(channel).listen(event,(object) => hook(object))
            },
            /** Bind Channels **/
            bindChannels(){
                let vm = this;
                this.echo.private('App.User' + '.' + this.$auth.user().id)
                    .notification((object) => console.log(object))
            },

            /** Disconnect Echo **/
            disconnect(){
                if(!this.echo) return
                this.echo.disconnect()
            }
        },
    }
</script>
