<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Categorías de pizza</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" width="300px">
            <!--<v-layout align-center justify-end row fill-height>-->
            <v-spacer></v-spacer>
                <v-btn slot="activator" color="green" dark class="mb-2"><v-icon>add</v-icon>Agregar Categoría</v-btn>
            <!--</v-layout>-->
            <v-card>
                <v-form v-model="valid" ref="form">
                    <v-card-title class="indigo">
                        <span class="headline white--text">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field

                                            v-model="editedItem.name"
                                            hint="Al menos 5 carácteres"
                                            data-vv-as="Nombre"
                                            label="Nombre"
                                            v-validate="'required|max:50'"
                                            data-vv-name="name"
                                            :error-messages="errors.collect('name')"

                                    >
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea
                                            v-model="editedItem.description"
                                            name="description"
                                            data-vv-as="Descripción"
                                            hint="Descripción corta "
                                            label="Descripción"
                                            auto-grow
                                            data-vv-name="description"
                                            :error-messages="errors.collect('description')"
                                            v-validate="'max:300|required'"
                                    ></v-textarea>
                                </v-flex>
                            </v-layout>

                      


                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
            <confirm ref="confirm"></confirm>

        </v-dialog>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="categories"
                hide-actions
                :pagination.sync="pagination"
                :total-items="pagination.total"
                :loading="loading"
                class="elevation-1"
        >
            <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>

            <template slot="items" slot-scope="props">

                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.description }}</td>


                <td class="">
                    <v-layout>
                        <v-btn fab dark small color="indigo darken-4" @click="editItem(props.item)">
                            <v-icon dark>edit</v-icon>
                        </v-btn>

                        <v-btn fab dark small color="red" >
                            <v-icon color="white" @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </v-btn>
                    </v-layout>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reiniciar</v-btn>
            </template>
        </v-data-table>

        <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pagination.pages"></v-pagination>
        </div>
    </div>
</template>

<script>
    import Confirm from './Confirm'

    export default {
        components:{ Confirm },
        $_veeValidate: {
            validator: 'new'
        },

        data() {
            return {
                dialog:false,
                valid: false,
                categories:[],
                pagination:{
                    page:1,
                    rowsPerPage: 5
                },
                editedItem: {
                    name:'',
                    description:''
                },
                defaultItem: {
                    name:'',
                    description:''
                },
                editedIndex: - 1,
                headers: [
                    {
                        text: 'Nombre',
                        align: 'center',
                        sortable: false,
                        value: 'name'
                    },
                    // {text: 'Imagen', value: 'rol', align: 'center',},

                    {
                        text: 'Descripción',
                        align: 'center',
                        sortable: false,
                        value: 'description'
                    },
                    {text: 'Acciones', value: 'name', align: 'left', sortable: false}
                ]
            }
        },
        notifications: {
            showToast: {
                title: '',
                type: 'info'
            }
        },

        created() {
          this.initialize();
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? ' Nueva categoría' : 'Editar categoría'
            }

        },
        watch: {
            dialog (val) {
                val || this.close()
            },
            pagination: {
                handler () {
                    this.getcategories()
                },
                deep: true
            }
        },
        methods: {

            save() {
                this.$validator.validate().then(result => {
                    if (!result) {
                    } else {
                        let category = this.categories[this.editedIndex];
                        if (this.editedIndex > -1) {
                            this.$http.patch('categories/'+category.id,{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {
                                    Object.assign(this.categories[this.editedIndex], this.editedItem);
                                    this.$noty.info('Categoría editada');
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        } else {
                            //Guardar

                            this.$http.post('categories',{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {
                                    this.$noty.info('Categoría guardada');

                                    // this.users.push(e.data.user)
                                    this.getcategories();
                                    this.close();
                                }
                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        }


                    }

                });


            },
            initialize() {
                this.getcategories();
            },


            getcategories() {
                this.loading = true;
                this.$http.get('categories',{roles: true}).then((e) => {
                    this.loading = false;
                    let pag =  e.data.meta;
                    this.categories = e.data.data;
                    this.pagination.rowPerPage = pag.per_page;
                    this.pagination.page = pag.current_page;
                    this.pagination.total = pag.total;
                    this.pagination.pages = pag.last_page;
                }).catch((e) => console.log(e));
                // this.$http.get('categories').then((e) => { this.categories = e.data.data; });
            },
            editItem(item) {
                this.editedIndex = this.categories.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.categories.indexOf(item)
                this.$refs.confirm.open('Eliminar categoría ' + item.name, `¿Estás seguro de eliminar este categoría?`, {color: 'indigo'}).then((confirm) => {
                    this.$http.delete('categories/'+item.id)
                        .then((e) => {
                            if (e.data.success) {
                                this.$noty.info('Categoría eliminada');
                                this.categories.splice(index, 1)
                            }
                        }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach((key) => {
                            console.log(key, errors[key]);
                            this.$noty.error(errors[key]);
                        });

                    });
                });
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            }

        }
    }
</script>

<style scoped>

</style>