<template>
    <v-container class="pa-4" fluid grid-list-md>


            <h1 class="display-1 mb-1">Gestión de Ordenes</h1>
            <v-layout row wrap>
                <v-flex xs12 sm12 md12 lg6>

                    <v-toolbar  color="indigo darken-4" class="white--text">
                        <v-toolbar-title>Ordenes {{ filter != 'todas' ? filter : '' }}</v-toolbar-title>

                        <v-spacer></v-spacer>


                    </v-toolbar>
               

                    <v-flex xs12>
                        <div class="text-xs-center">
                        <v-btn-toggle v-model="filter" dark class="indigo darken-4">
                            <v-btn flat value="todas">
                                Todas
                            </v-btn>
                            <v-btn flat value="activas">
                                Activas
                            </v-btn>
                            <v-btn flat value="ruta">
                                En ruta
                            </v-btn>
                            <v-btn flat value="entregadas">
                                Entregadas
                            </v-btn>
                        </v-btn-toggle>
                        </div>
                    </v-flex>
                    <v-data-table
                            :headers="headers"
                            :items="orders"
                            :loading="loading"
                            hide-actions
                            class="elevation-1"
                            ref="table"
                            item-key="id"
                    >
                       <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>
                        <template slot="items" slot-scope="props" >
                            <tr>
                                <td>{{ props.item.id }}</td>
                                <td class="text-xs-left">{{ props.item.user.username }}</td>
                                <td class="text-xs-left">{{ props.item.status.status }}</td>
                                <td>
                                    <v-btn color="indigo darken-4 white--text" @click="view(props.item)">Ver</v-btn>
                                </td>
                            </tr>

                        </template>
                        <template slot="no-data">
                             <v-alert slot="no-results" :value="true" color="error" icon="warning">
                                    No hay ordenes pendientes
                              </v-alert>
                        </template>

                    </v-data-table>
                </v-flex>
                <v-flex xs12 sm12 md12 lg6>
                    <show-order v-if="selected" :status="status" :item="selected"></show-order>
                </v-flex>
            </v-layout>
        <broadcasting ref="broadcast"></broadcasting>

    </v-container>
</template>


<script>
    import ShowOrder from './ShowOrder';
    import Broadcasting from './broadcasting'
    export default {
        name: 'Order',

        components:{
            'show-order': ShowOrder,
            'broadcasting': Broadcasting
        },
        data: () => ({
            filter: 'todas',
            dialog: false,
            selected: null,
            loading: false,
            // editStatus: '',
            status: [],
            orders: [],
            pagination:{ 
                page: 1,
                rowsPerPage: 5
            },
            headers: [
                {
                    text: 'Nro.',
                    align: 'left',
                    sortable: false,
                    value: 'nro'

                },
                {
                    text: 'Usuario',
                    align: 'left',
                    sortable: false,
                    value: 'user'
                },
                {
                    text: 'Estatus',
                    align: 'left',
                    sortable: false,
                    value: 'status',
                },
                {
                    text: 'Acciones',
                    align: 'left',
                    sortable: false,
                },
            ] }),
        created() {
            this.initialize();

        },
        mounted() {

            this.$refs.broadcast.connect();
            this.$refs.broadcast.bindChannel('orders','OrderCreated',(e) => {
                this.getOrders()

            });

        },
        beforeDestroy() {

            this.$refs.broadcast.leave('orders-created');

        },
        watch: {
            filter(before,after) {
                this.selected = null;
                this.getOrders();
            }

        },
        methods: {
            getOrders() {
                this.loading = true;
                const {page, rowsPerPage } = this.pagination;
                this.$http.get(`orders/?filter=${this.filter}&page=${page}&per_page=${rowsPerPage}`)
                    .then((e) => {
                        this.orders = e.data.data;
                        this.loading = false;
                    }).catch((e) => {
                    console.log(e);
                });
            },
            initialize() {
                this.$http.get('statusOrder')
                    .then((e) => {
                        // this.status = e.data.data.map((item) => ({text: item.status,value: item.id}));
                        this.status = e.data.data;
                    }).catch((e) => {

                });
                this.getOrders();
            },
            view(item) {
                this.editStatus = '';
                this.selected = item;
            },

            deleteItem(item) {
                const index = this.users.indexOf(item)
                confirm('¿Estás seguro de querer eliminar esta pizza?') && this.users.splice(index, 1)
            },
            // isRepartidor() {
            //     let can = ['repartidor'];
            //     let roles = this.$auth.user().role;
            //     return window.findOne(can,roles);
            // },
            // isAdmin() {
            //     let can = ['admin'];
            //     let roles = this.$auth.user().role;
            //     return window.findOne(can,roles);
            // }

        }
    }
</script>

<style scoped>

   .title-pizza {
        text-shadow: 1px 0px 1px black;
    }

</style>
