<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Tamaños de la pizza</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" >
            <!--<v-layout align-center justify-end row fill-height>-->
            <v-spacer></v-spacer>
                <v-btn slot="activator" color="green" dark class="mb-2"><v-icon>add</v-icon>Agregar Tamaño</v-btn>
            <!--</v-layout>-->
            <v-card>
                <v-form v-model="valid" ref="form">
                    <v-card-title class="indigo">
                        <span class="headline white--text">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6 md6>
                                    <v-select
                                            v-model="editedItem.size"
                                            data-vv-as="Tamaño"
                                            label="Tamaño"
                                            :items="['Pequeña','Mediana','Grande','Gigante']"
                                            v-validate="'required'"
                                            data-vv-name="size"
                                            :error-messages="errors.collect('size')"
                                    >

                                    </v-select>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field
                                            v-model="editedItem.price"
                                            type="number"
                                            v-validate="'required|numeric|max:50|min:0'"
                                            min="0"
                                            data-vv-name="price"
                                            :error-messages="errors.collect('price')"
                                            label="Precio"
                                            data-vv-as="Precio"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>


                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
            <confirm ref="confirm"></confirm>

        </v-dialog>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="sizes"
                hide-actions
                class="elevation-1"
        >
            <template slot="items" slot-scope="props">

                <td class="text-xs-center">{{ props.item.size }}</td>
                <td class="text-xs-center">{{ props.item.price }} Bs.S</td>


                <td class="">
                    <v-layout>
                        <v-btn fab dark small color="indigo darken-4" @click="editItem(props.item)">
                            <v-icon dark>edit</v-icon>
                        </v-btn>

                        <v-btn fab dark small color="red" >
                            <v-icon color="white" @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </v-btn>
                    </v-layout>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reiniciar</v-btn>
            </template>
        </v-data-table>
    </div>
</template>

<script>
    import Confirm from './Confirm'

    export default {
        components:{ Confirm },
        props:['sizes','pizza'],
        $_veeValidate: {
            validator: 'new'
        },

        data() {
            return {
                dialog:false,
                valid: false,
                editedItem: {
                    size:'',
                    price:''
                },
                defaultItem: {
                    size:'',
                    price:''
                },
                editedIndex: - 1,
                headers: [
                    {
                        text: 'Tamaño',
                        align: 'center',
                        sortable: false,
                        value: 'size'
                    },
                    // {text: 'Imagen', value: 'rol', align: 'center',},

                    {
                        text: 'Precio',
                        align: 'center',
                        sortable: false,
                        value: 'price'
                    },
                    {text: 'Acciones', value: 'name', align: 'left', sortable: false}
                ]
            }
        },
        notifications: {
            showToast: {
                title: '',
                type: 'info'
            }
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? ' Nuevo tamaño' : 'Editar tamaño'
            }

        },
        watch: {
            dialog (val) {
                val || this.close()
            }
        },
        methods: {

            save() {

                this.$validator.validate().then(result => {
                    if (!result) {
                    } else {
                        let price = this.sizes[this.editedIndex];
                        if (this.editedIndex > -1) {
                            this.$http.patch(`pizzas/${this.pizza.id}/prices/${price.id}`,  {...this.editedItem, pizza_id: this.pizza.id}).then((e) => {
                                if (e.data.success) {
                                    Object.assign(this.sizes[this.editedIndex], this.editedItem);

                                    this.$noty.info('Editado exitosamente')
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key]);

                                });

                            });

                        } else {
                            //Guardar
                            this.$http.post(`pizzas/${this.pizza.id}/prices`, {...this.editedItem,pizza_id:this.pizza.id}).then((e) => {
                                if (e.data.success) {
                                    this.$noty.info('Guardado exitosamente')
                                    this.sizes.push(e.data.price);
                                    this.close();
                                }else {
                                    this.$noty.info(e.data.error);
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        }


                    }

                });


            },
            initialize() {
                this.getPizzas();
            },


            editItem(item) {
                this.editedIndex = this.sizes.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.sizes.indexOf(item)
                console.log(index);
                this.$refs.confirm.open('Eliminar tamaño ' + item.size, `¿Estás seguro de eliminar este tamaño?`, {color: 'indigo'}).then((confirm) => {
                    this.$http.delete(`pizzas/prices/${item.id}`)
                        .then((e) => {
                            if (e.data.success) {
                                this.$noty.info('Eliminado exitosamente')
                                this.sizes.splice(index, 1)
                            }
                        }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach((key) => {
                            console.log(key, errors[key]);
                            this.$noty.error(errors[key]);
                        });

                    });
                });
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            }

        }
    }
</script>

<style scoped>

</style>