<template>
    <div>
        <v-tabs
                slot="extension"
                grow
                color="indigo darken-4"
                dark
                icons-and-text
        >
            <v-tabs-slider color="blue"></v-tabs-slider>
            <v-tab href="#show-order-orden" v-if="isRepartidor || isAdmin || isEmpleado">Orden<v-icon>shopping_cart</v-icon></v-tab>
            <v-tab href="#pago" v-if="isAdmin || isRepartidor  || isEmpleado">Cliente y pago<v-icon>local_atm</v-icon></v-tab>
            <v-tab href="#entrega" v-if="isRepartidor || isAdmin  || isEmpleado">Entrega<v-icon>local_shipping</v-icon></v-tab>

            <v-tab-item id="show-order-orden">

                <v-list three-line>
                    <v-subheader>
                        <h3>Pizzas de la orden</h3>
                    </v-subheader>
                    <template v-for="(pizza, index) in item.pizzas">
                        <v-divider
                                :inset="true"
                                :key="index"
                        ></v-divider>

                        <v-list-tile
                                :key="pizza.title"
                                avatar
                                @click=""
                        >
                            <v-list-tile-avatar>
                                <img :src="pizza.pizza.url_image">
                            </v-list-tile-avatar>

                            <v-list-tile-content>
                                <v-list-tile-title v-html="pizza.pizza.name"></v-list-tile-title>
                                <v-list-tile-sub-title >Toppings: {{getPizzaToppings(pizza.toppings)}}</v-list-tile-sub-title>
                                <v-list-tile-sub-title >Preparación Especial:  {{pizza.special_preparation}}</v-list-tile-sub-title>

                            </v-list-tile-content>
                        </v-list-tile>


                    </template>
                    <v-list-tile>

                        <v-list-tile-content >
                            <v-list-tile-sub-title v-html="">
                                <span class="text-xs-left">Subtotal:</strong></span>
                            </v-list-tile-sub-title>
                            <v-list-tile-sub-title >
                                <span class="text-xs-left">Iva ({{item.iva}}%): </span>
                            </v-list-tile-sub-title>
                            <v-list-tile-title >
                                <span class="text-xs-left">Total: </span>

                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action >
                            <v-list-tile-sub-title v-html="">
                                <span class="text-xs-left"> <strong>{{item.subtotal}} BS.S</strong></span>
                            </v-list-tile-sub-title>
                            <v-list-tile-sub-title >
                                <span class="text-xs-left"> <strong>{{(item.iva/100) * item.subtotal}} BS.S</strong></span>
                            </v-list-tile-sub-title>
                            <v-list-tile-title >
                                <span class="text-xs-left"> <strong>{{item.total.toFixed(2)}} BS.S</strong></span>

                            </v-list-tile-title>
                        </v-list-tile-action>
                    </v-list-tile>

                    <v-list-tile>

                        <v-list-tile-content >
                            <v-list-tile-title><strong>Estado </strong></v-list-tile-title>

                        </v-list-tile-content>


                        <v-list-tile-action >
                            <v-list-tile-title><strong>{{item.status.status}}</strong></v-list-tile-title>

                        </v-list-tile-action>
                    </v-list-tile>

                    <v-list-tile v-if="item.delivery">
                        <v-list-tile-content >
                            <v-list-tile-title class="mt-2"><strong>Estado del envío:</strong></v-list-tile-title>
                            <v-list-tile-title class="mt-2"><strong>Repartidor:</strong></v-list-tile-title>

                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-list-tile-title class="mt-2"><strong>{{item.delivery.status.name}}</strong></v-list-tile-title>

                            <v-list-tile-title class="mt-2"><strong>{{item.delivery.deliveryman.user.person.name}}</strong></v-list-tile-title>
                        </v-list-tile-action>
                     </v-list-tile>
                    <hr>
                    <v-list-tile class="bg-primary">

                        <v-list-sub-title v-if="item.status.id===4">
                            <p v-if="repartidoresDisponibles" class="text--black font-weight-bold">Repartidores disponibles:</p>
                            <p v-else class="text--black font-weight-bold">No hay repartidores disponibles</p>
                        </v-list-sub-title>
                        <template v-if="isRepartidor">

                          <div v-if="item.status.id===5">
                              <v-list-sub-title >
                                <p><strong>Estado del envío:</strong></p>
                            </v-list-sub-title>
                            <v-list-sub-title>
                                <p><strong>Cambiar entrega a:</strong></p>
                            </v-list-sub-title>
                          </div>

                        </template>

                        <v-list-tile-content>

                        </v-list-tile-content>
                        <v-list-tile-action >

                            <template v-if="item.status.id===4">
                                <v-flex xs12 v-if="repartidoresDisponibles">
                                    <v-select
                                            v-model="selectedRepartidor"
                                            :items="repartidoresSelect"
                                            label="Repartidores"
                                    ></v-select>
                                </v-flex>
                            </template>
                            <v-btn color="green" v-if="repartidoresDisponibles && item.status.id===4" @click="asignarRepartidor()" dark><v-icon>local_shipping</v-icon> Asignar</v-btn>

                            <v-btn v-if="item.status.id===2" block color="indigo" dark @click="preparacion()">Preparar orden</v-btn>
                            <v-btn v-if="item.status.id===3" block color="indigo" dark @click="terminar()">Terminada</v-btn>

                            <v-list-sub-title v-if="item.status.id===5 && isRepartidor" >
                                {{item.delivery.status.name}}
                                <v-btn v-if="item.delivery.status.id===1" block color="indigo" dark @click="actualizaDeliveryStatus(2)">En camino</v-btn>
                                <v-btn v-if="item.delivery.status.id===2" block color="indigo" dark @click="actualizaDeliveryStatus(3)">Pizza entregada</v-btn>
                            </v-list-sub-title>

                        </v-list-tile-action>

                    </v-list-tile>


                </v-list>

            </v-tab-item>

            <v-tab-item id="pago" v-if="isAdmin || isRepartidor  || isEmpleado">
                <v-card>
                    <v-subheader>
                        <h2>Cliente: {{item.user.person.name}} {{item.user.person.lastname}}</h2>
                    </v-subheader>
                    <v-flex xs12 row >

                        <v-list two-line>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Cédula: </v-list-tile-title>
                                    <v-list-tile-sub-title>{{item.user.person.document_type}} {{item.user.person.document_number}}</v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-content>
                                    <v-list-tile-title>Teléfono: </v-list-tile-title>
                                    <v-list-tile-sub-title>{{item.user.person.phone}}</v-list-tile-sub-title>
                                </v-list-tile-content>

                            </v-list-tile>
                        </v-list>
                        <v-list two-line>
                            <v-list-tile>
                                <v-list-tile-content>
                                    <v-list-tile-title>Dirección: </v-list-tile-title>
                                    <v-list-tile-sub-title>{{item.user.person.address}} </v-list-tile-sub-title>
                                </v-list-tile-content>
                                <v-list-tile-content>
                                    <v-list-tile-title>Género: </v-list-tile-title>
                                    <v-list-tile-sub-title>{{item.user.person.gender == 'F' ? 'Femenino' : 'Masculino'}}</v-list-tile-sub-title>
                                </v-list-tile-content>

                            </v-list-tile>
                        </v-list>
                    </v-flex>


                    <v-subheader>
                        <h2>Método: {{item.payment.method.name}}</h2>
                    </v-subheader>

                    <v-flex xs12 row v-if="item.payment.method_id===2">
                        <v-list two-line>
                            <v-list-tile>
                                <v-list-tile-action>
                                    <v-icon v-if="item.status.id!==7 && item.status.id > 1" color="green">check_circle</v-icon>
                                </v-list-tile-action>
                                <v-list-tile-content>
                                    <v-list-tile-title>Referencia: </v-list-tile-title>
                                    <v-list-tile-sub-title>{{item.payment.reference}}</v-list-tile-sub-title>
                                    <v-list-tile-sub-title>
                                        <p v-if="item.status.id===1" >Pago no confirmado</p>

                                    </v-list-tile-sub-title>

                                </v-list-tile-content>
                                <v-list-tile-action>
                                    <v-btn :disabled="item.status.id!==1 || !isAdmin" color="success dark" @click="actualizarStatus(2)">Confirmar</v-btn>
                                </v-list-tile-action>
                            </v-list-tile>
                        </v-list>


                    </v-flex>
                    <v-list two-line  v-if="item.payment.method_id===1">
                        <v-list-tile>
                            <v-list-tile-action>
                                <v-icon color="gray">attach_money</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>Monto a recibir en efectivo: </v-list-tile-title>
                                <v-list-tile-sub-title>{{item.total}} Bs.S</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </v-list>



                </v-card>
            </v-tab-item>
            <v-tab-item id="entrega"  v-if="isAdmin || isRepartidor|| isEmpleado">

                <v-card>

                    <v-subheader>
                        <h2 >Dirección de Entrega</h2>
                    </v-subheader>
                    <v-card-text>
                        <template v-if="item.deliver_address_info" class="ml-3 mt-3">


                            <h3>Información adicional de envío:</h3>
                            <p>{{item.deliver_address_info}}</p>

                        </template>
                        <GmapMap
                                :center="{lat:item.deliver_lat, lng:item.deliver_lng}"
                                :zoom="15"
                                map-type-id="terrain"
                                style="width: 100%; height: 300px"
                        >
                            <GmapMarker


                                    :position="{lat:item.deliver_lat, lng:item.deliver_lng}"
                                    :clickable="true"

                            >
                                <GmapInfoWindow>{{`Orden #${item.id}`}}</GmapInfoWindow>
                            </GmapMarker>
                        </GmapMap>
                    </v-card-text>


                </v-card>
            </v-tab-item>

        </v-tabs>
        <confirm ref="confirm"></confirm>
    </div>




</template>

<script>
    import Confirm from './Confirm.vue'
    export default {
        data() {
            return {
                editStatus: '',
                selectedRepartidor: '',
                repartidoresSelect: [],
                repartidores: []
            }
        },
        components:{'confirm':Confirm},
        props: ['item','status'],
        methods: {

            preparacion() {
                this.$refs.confirm.open('Cocinar', '¿Estás seguro de pasar el estatus a preparación?', { color: 'indigo' }).then((confirm) => {
                    let status = 3;
                    this.actualizarStatus(status);
                });
            },

            actualizaDeliveryStatus(id) {
                this.$refs.confirm.open('En camino', '¿Estás seguro de pasar el estatus a en camino?', { color: 'indigo' }).then((confirm) => {
                    this.$http.post('updateDeliveryStatus/' + this.item.id, {
                        status_deliveries_id: id
                    }).then((e) => {
                        if (e.data.success) {
                            let status = e.data.status;
                            this.$set(this.item.delivery, 'status', status);
                            this.$noty.info('Estatus de envío actualizado');
                            if (id===3)  {
                                this.actualizarStatus(6);
                            }
                        }
                    }).catch((e) => {
                        console.log(e);
                    });

                });
            },
            terminar() {
                this.$refs.confirm.open('Preparación terminada', '¿Estás seguro de pasar el estatus a terminada?', { color: 'indigo' }).then((confirm) => {
                    let status = 4;
                    this.actualizarStatus(status);
                });
            },
            getRepartidores() {
                this.$http.get('repartidores')
                    .then((e) => {

                        let repartidores = e.data.data;
                        console.log(repartidores);
                        this.repartidores = repartidores;
                        this.repartidoresSelect = repartidores.map((e) => { return {text:e.user.username,value:e.id} } )
                        console.log(this.repartidoresSelect);
                    }).catch((e) => {

                })
            },
            asignarRepartidor() {
    
                if (this.selectedRepartidor) {
                    
                    let repartidor = this.repartidoresSelect.find((e) => e.value===this.selectedRepartidor);

                    this.$refs.confirm.open('Repartidor', `¿Estás seguro de asignar el repartidor ${repartidor.text} a la entrega?`, { color: 'indigo' }).then((confirm) => {
                        let statusId = 5;

                        let status = this.status.find((e) => e.id===statusId);

                        this.$http.post('asignarRepartidor',{
                            id:repartidor.value,
                            order_id:this.item.id
                        }).then((e) => {
                           if (e.data.success) {
                               this.$set(this.item, 'status', status);
                               this.$noty.info('Repartidor asignado');
                           }else {

                      
                                this.$noty.error(e.data.error);


                            }
                        }).catch((e) => {
                            
                            console.log(e.response);

                        }); 
                    });
                }
            },
            actualizarStatus(statusId) {

                let status = this.status.find((e) => e.id===statusId);
                this.$http.patch('orders/' + this.item.id, {
                    status_orders_id: status.id
                }).then((e) => {
                    if (e.data.success) {
                        this.$set(this.item, 'status', status);
                        this.$noty.info('Estatus actualizado');

                    }
                }).catch((e) => {
                    console.log(e);
                });
            },


            getPizzaToppings(toppings) {
                return toppings.map(e => `${e.topping.name} (x${e.quantity})`).join(", ");
            },
            confirmar() {

            }
        },
        created() {
            this.getRepartidores();
        },
        computed:{
            isRepartidor() {
                let can = ['repartidor'];
                let roles = this.$auth.user().role;
                if (roles==can) { return true}
            },
            isAdmin() {
                let can = ['admin'];
                let roles = this.$auth.user().role;
               if (roles==can) { return true}

            },
            isEmpleado() {
                let can = ['empleado'];
                let roles = this.$auth.user().role;
                if (roles==can) { return true }

            },
            repartidoresDisponibles() {
                if (this.repartidores ) {
                    return this.repartidores.length>0 ? true : false;
                }
            }
        }

    }
</script>


<style scoped>
    .v-tabs__wrapper {

        height: 65px;
    }
    .v-tabs__items {

        box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12) !important;
    }

</style>