<template>
    <div>
        <v-toolbar flat color="white">
            <v-toolbar-title>Toppings</v-toolbar-title>

            <v-spacer></v-spacer>
            <v-dialog v-model="dialog"   width="500" >
            <!--<v-layout align-center justify-end row fill-height>-->
            <v-spacer></v-spacer>
                <v-btn slot="activator" color="green" dark class="mb-2"><v-icon>add</v-icon>Agregar Topping</v-btn>
            <!--</v-layout>-->
            <v-card>
                <v-form v-model="valid" ref="form">
                    <v-card-title class="indigo">
                        <span class="headline white--text">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12>

                                    <v-text-field

                                            v-model="editedItem.name"
                                            hint="Al menos 5 carácteres"
                                            data-vv-as="Nombre"
                                            label="Nombre"
                                            v-validate="'required|max:50'"
                                            data-vv-name="name"
                                            :error-messages="errors.collect('name')"
                                    >
                                    </v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea
                                            v-model="editedItem.description"
                                            name="description"
                                            data-vv-as="Descripción"
                                            hint="Descripción corta y concisa, usualmente cantidad"
                                            label="Descripción"
                                            auto-grow
                                            data-vv-name="description"
                                            :error-messages="errors.collect('description')"
                                            v-validate="'max:300|required'"
                                    ></v-textarea>
                                </v-flex>
                            </v-layout>

                            <v-flex xs12>
                                <v-text-field
                                        v-model="editedItem.price"
                                        type="number"
                                        v-validate="'required|numeric|max:50'"

                                        data-vv-name="price"
                                        :error-messages="errors.collect('price')"
                                        label="Precio"
                                        data-vv-as="Precio"
                                ></v-text-field>
                            </v-flex>


                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                        <v-btn color="blue darken-1" flat @click.native="save">Guardar</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
            <confirm ref="confirm"></confirm>

        </v-dialog>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="toppings"
                :pagination.sync="pagination"
                :total-items="pagination.total"
                :loading="loading"
                class="elevation-1"
                hide-actions
        >

            <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>

            <template slot="items" slot-scope="props">

                <td class="text-xs-center">{{ props.item.name }}</td>
                <td class="text-xs-center">{{ props.item.description }}</td>
                <td class="text-xs-center">{{ props.item.price }} Bs.S</td>


                <td class="">
                    <v-layout>
                        <v-btn fab dark small color="indigo darken-4" @click="editItem(props.item)">
                            <v-icon dark>edit</v-icon>
                        </v-btn>

                        <v-btn fab dark small color="red" >
                            <v-icon color="white" @click="deleteItem(props.item)">
                                delete
                            </v-icon>
                        </v-btn>
                    </v-layout>
                </td>
            </template>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reiniciar</v-btn>
            </template>

        </v-data-table>

        <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pagination.pages"></v-pagination>
        </div>
    </div>
</template>

<script>
    import Confirm from './Confirm'

    export default {
        components:{ Confirm },
        $_veeValidate: {
            validator: 'new'
        },

        data() {
            return {
                dialog:false,
                valid: false,
                pagination:{
                    page:1,
                    rowsPerPage: 5
                },
                total: 0,
                toppings:[],
                editedItem: {
                    name:'',
                    description:'',
                    price:'',
                },
                defaultItem: {
                    name:'',
                    description:'',
                    price:'',
                },
                editedIndex: - 1,
                headers: [
                    {
                        text: 'Nombre',
                        align: 'center',
                        sortable: false,
                        value: 'name'
                    },
                    // {text: 'Imagen', value: 'rol', align: 'center',},

                    {
                        text: 'Descripción',
                        align: 'center',
                        sortable: false,
                        value: 'description'
                    },
                    {
                        text: 'Precio',
                        align: 'center',
                        sortable: false,
                        value: 'price'
                    },
                    {text: 'Acciones', value: 'name', align: 'left', sortable: false}
                ]
            }
        },

        created() {
          this.initialize();
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? ' Nuevo topping' : 'Editar topping'
            }
        },
        watch: {
            dialog (val) {
                val || this.close()
            },
            pagination: {
                handler () {
                    this.getToppings()
                },
                deep: true
            }
        },
        methods: {
            initialize() {
                this.getToppings()
            },
            save() {
                this.$validator.validate().then(result => {
                    if (!result) {
                    } else {
                        let topping = this.toppings[this.editedIndex];
                        if (this.editedIndex > -1) {
                            this.$http.patch('toppings/'+topping.id,{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {
                                    Object.assign(this.toppings[this.editedIndex], this.editedItem);
                                    this.$noty.info(`Editado exitósamente`)
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key])
                                });

                            });

                        } else {

                            this.$http.post('toppings',{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {
                                    this.$noty.info('Topping Guardado');
                                    this.getToppings();
                                    this.close();
                                }
                            }).catch((e) => {
                               if (e.response) {
                                   let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key, errors[key]);
                                    this.$noty.error(errors[key])
                                });
                               }
                            });

                        }


                    }

                });


            },
            getToppings(url = 'toppings') {
                this.loading = true;
                const {  page, rowsPerPage } = this.pagination

                this.$http.get(`${url}/?page=${page}&per_page=${rowsPerPage}`).then((e) => {
                    this.toppings = e.data.data;
                    this.loading = false;
                    let pag =  e.data.meta;
                    this.pagination.rowPerPage = pag.per_page;
                    this.pagination.page = pag.current_page;
                    this.pagination.total = pag.total;
                    this.pagination.pages = pag.last_page;

                }).catch((e) => this.loading = false);
                // this.$http.get('toppings').then((e) => { this.toppings = e.data.data; });
            },
            editItem(item) {
                this.editedIndex = this.toppings.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.toppings.indexOf(item)
                this.$refs.confirm.open('Eliminar topping ' + item.name, `¿Estás seguro de eliminar este topping?`, {color: 'indigo'}).then((confirm) => {
                    this.$http.delete('toppings/'+item.id)
                        .then((e) => {
                            if (e.data.success) {
                                this.$noty.info(`Eliminado exitósamente`)
                                this.toppings.splice(index, 1)
                            }
                        }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach((key) => {
                            console.log(key, errors[key]);
                            this.$noty.error(errors[key])
                        });

                    });
                });
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },


        }
    }
</script>

<style scoped>

</style>