<template>
    <orders :orders="orders"></orders>
</template>


<script>
    import Orders from '../../components/Orders'
    export default {
        data() {
            return {
                orders:[],
            }
        },
        components:{ 'orders': Orders },
        created()  {
            this.$http.get('orders',{
                'pizzas' : true
            })
                .then((e) => {
                    this.orders = e.data.data;
                }).catch((e) => {
                console.log(e);
            });
        }
    }
</script>