<template>
    <v-container class="pa-4" fluid grid-list-md>


        <h1 class="display-1 mb-1">Gestión de Entregas</h1>
        <v-layout row>
            <v-flex xs12 sm12 md6>
                <v-switch v-model="this.deliveryStatus" @click.native="changeStatus()" label="Permitir Entregas" color="green"></v-switch>
                <v-toolbar  color="indigo darken-4" class="white--text">
                    <v-toolbar-title>Entregas Pendientes</v-toolbar-title>

                    <v-spacer></v-spacer>
                    <v-toolbar-items >


                    </v-toolbar-items>
                </v-toolbar>

                <v-data-table
                        :headers="headers"
                        :items="orders"
                        hide-actions
                        class="elevation-1"
                        ref="table"
                        item-key="id"
                >
                    <template slot="items" slot-scope="props" >
                        <tr>
                            <td>{{ props.item.id }}</td>
                            <td class="text-xs-left">{{ props.item.delivery.status.name }}</td>
                            <td>
                                <v-btn color="indigo darken-4 white--text" @click="view(props.item)">Ver</v-btn>
                            </td>
                        </tr>

                    </template>
                    <template slot="no-data">
                        <v-btn color="indigo darken-4" @click="initialize">Reiniciar</v-btn>
                    </template>

                </v-data-table>
            </v-flex>

            <v-flex xs12 sm12 md6>
                <show-order v-if="selected" :status="status" :item="selected"></show-order>
            </v-flex>
        </v-layout>
        <broadcasting ref="broadcast"></broadcasting>

    </v-container>
</template>


<script>
    import ShowOrder from '../../components/ShowOrder';
    import Broadcasting from '../../components/broadcasting'

    export default {
        components:{
            'show-order': ShowOrder,
            Broadcasting
        },
        data: () => ({

            dialog: false,
            selected: null,

            status: [],
            orders: [],
            deliveryman:[],
            deliveryStatus: false,
            headers: [
                {
                    text: 'Nro.',
                    align: 'left',
                    sortable: false,
                    value: 'nro'

                },
                {
                    text: 'Estatus',
                    align: 'left',
                    sortable: false,
                    value: 'status',
                },
                {
                    text: 'Acciones',
                    align: 'left',
                    sortable: false,
                },
            ] }),
        created() {
            this.initialize()
        },

        mounted() {

            this.$refs.broadcast.connect();
            this.$refs.broadcast.bindChannel('orders','DeliveryCreated',(e) => {
                // this.orders.push(e.data);

                let id = this.$auth.user().id;
                if (e.delivery.deliveryman.users_id = id) {

                    this.getOrders()

                }

            });

        },
        beforeDestroy() {

            this.$refs.broadcast.leave('orders-created');
            // ,(e) => {
            //     console.log(e.data)
            // });
        },
        methods: {
            getOrders() {

                this.$http.get('orders')
                    .then((e) => {
                        this.orders = e.data.data;
                    }).catch((e) => {
                    console.log(e);
                });
            },
            initialize() {
                this.$http.get('statusOrder')
                    .then((e) => {
                        // this.status = e.data.data.map((item) => ({text: item.status,value: item.id}));
                        this.status = e.data.data;
                    }).catch((e) => {

                });
                this.$http.get(`deliveryman/${this.$auth.user().id}`).then((e) => {
                    this.deliveryman = e.data.data;
                        this.deliveryStatus = e.data.data.status === 1;
                });
                this.getOrders();

            },
            changeStatus() {
                this.$http.post(`deliveryman/${this.$auth.user().id}`,{status:this.deliveryStatus ? 0 : 1}).then((e) => {

                });
            },

            view(item) {
                this.editStatus = '';
                this.selected = item;
            },

            deleteItem(item) {
                const index = this.users.indexOf(item)
                confirm('¿Estás seguro de querer eliminar esta pizza?') && this.users.splice(index, 1)
            },
            isRepartidor() {
                let can = ['repartidor'];
                let roles = this.$auth.user().rol;
                return window.findOne(can,roles);
            },
            isAdmin() {
                let can = ['admin'];
                let roles = this.$auth.user().rol;
                return window.findOne(can,roles);
            },
            isEmpleado() {
                let can = ['empleado'];
                let roles = this.$auth.user().rol;
                return window.findOne(can,roles);
            }

        }
    }
</script>

<style scoped>

    .title-pizza {
        text-shadow: 1px 0px 1px black;
    }

</style>
