<template>
    <v-container class="pa-4" fluid grid-list-md>

    <v-layout row wrap>
            <v-flex xs12>
                <toppings></toppings>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Toppings from '../../components/Toppings'
    export default {
        components:{ Toppings }
    }
</script>

<style scoped>

</style>