<template>

  <v-app v-if="$auth.ready()">
    <v-navigation-drawer
      
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      stateless
      floating
      class="indigo darken-4 white--text"
      width='220'
      app
    >
      <!--v-toolbar class="brown darken-4">
     

      </v-toolbar-->
          
      <v-list class="indigo darken-4 white--text">
        
        <v-list-tile value="true" to="/" @click="">
          <v-list-tile-action>
            <v-icon color="white">home</v-icon>
          </v-list-tile-action>  
          <v-list-tile-content>
            <v-list-tile-title class="white--text">Inicio</v-list-tile-title>

          </v-list-tile-content>
        </v-list-tile>
        <v-list-group v-for="(submenu,j) in menuRoled" value="true" :key="j"         :prepend-icon="submenu.icon" color="white" class="white--text" >


            <v-list-tile slot="activator">
              <v-list-tile-title>{{submenu.title}}</v-list-tile-title>
            </v-list-tile>


            <v-list-tile
              value="true"
              v-for="(item, i) in submenu.items"
              :key="submenu.title+'-'+i"

              :to="item.route"

            >
              <v-list-tile-action>
                <!--<v-icon  color="white">{{ item.icon }}</v-icon>-->
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title class="white--text" v-text="item.title"></v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
        </v-list-group>

      </v-list>
              

    </v-navigation-drawer>
    <v-toolbar
      app
      :clipped-left="clipped"
            color="indigo darken-2 white--text"

    >
       

      <v-toolbar-side-icon color="indigo darken-2" class="white--text" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>

      <v-btn icon @click.stop="miniVariant = !miniVariant" class="indigo darken-2 white--text">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"></v-icon>
      </v-btn>

      <v-spacer></v-spacer>

      <v-list-tile>
        <!--v-list-tile-title v-if="$auth.check()">Hola,  {{$auth.user().name}}</v-list-tile-title-->

      </v-list-tile>
      <v-menu offset-y>


        <v-btn  flat class="indigo white--text" slot="activator">
          Perfil
        </v-btn>

        <v-list>


          <v-list-tile @click.prevent="$router.push('/settings')">
            <v-icon class="mr-2">settings</v-icon>
            <v-list-tile-title>Configuraciones</v-list-tile-title>
          </v-list-tile>

          <v-list-tile  @click.prevent="signOut">
            <v-icon class="mr-2">exit_to_app</v-icon>

            <v-list-tile-title>Salir</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>

    </v-toolbar>
    <v-content>

      <div v-if="$auth.ready()">
        <transition
                name="zoom"
                mode="out-in"
                @beforeLeave="beforeLeave"
                @enter="enter"
                @afterEnter="afterEnter"
        >
          <router-view/>
        </transition>
      </div>
      <div v-if="!$auth.ready()">
        Site loading...
      </div>
    </v-content>
    <!--v-navigation-drawer
      temporary
      :right="right"
      v-model="rightDrawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile @click="right = !right">
          <v-list-tile-action>
            <v-icon>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer-->
    <v-footer :fixed="fixed" app class="grey darken-4 white--text">
      <v-spacer></v-spacer>
      <span>Todos los derechos e izquierdos reservados &copy; 2018 {{notif}}</span>
      <v-spacer></v-spacer>
    </v-footer>
    <!--<confirm ref="confirm"></confirm>-->
  </v-app>

</template>

<script>
import Broadcasting from '../components/broadcasting.vue'
import Confirm from '../components/Confirm.vue';
import 'vuejs-noty/dist/vuejs-noty.css'

export default {
  name: 'App',
    components:{
      Confirm,
        // NprogressContainer
    },
  data () {
    return {
        notif: '',
      clipped: true,
      drawer: true,
      fixed: false,
      menu: [
       
        {
          title: "Ordenes",
            role: ['admin','empleado'],
            icon: 'assignment_turned_in',
          items:[{
            icon: 'list',
            title: 'Pedidos',
            route: 'orders'
          }
          ]
        },
        {
          title: "Administración",
          role: ['admin'],
            icon: 'settings',
          items:[{
            icon: 'supervisor_account',
            title: 'Usuarios',
            route: 'users'
          }],

        },
        {
          title: "Gestión de pizzas",
          role: ['admin'],
          icon: 'pie_chart',
          items:[{
            icon: 'pie_chart',
            title: 'Pizzas',
            route: 'pizzas'
          },
          {
            icon: 'group_work',
            title: 'Toppings',
            route: 'toppings'
          },
          {
            icon: 'group_work',
            title: 'Categorías',
            route: 'categories'
          }
          ]
        },
          {
              title: "Entregas",
              role: ['repartidor'],
              icon: 'local_shipping',
              items:[{
                  icon: 'local_shipping',
                  title: 'Ordenes',
                  route: 'repartidor'
              }
              ]
          }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Randy\'s'
    }
  },
    methods:{
      signOut() {

          this.$auth.logout();
          this.$router.push('/login');

      },
        beforeLeave(element) {
            this.prevHeight = getComputedStyle(element).height;
        },
        enter(element) {
            const { height } = getComputedStyle(element);

            element.style.height = this.prevHeight;

            setTimeout(() => {
                element.style.height = height;
            });
        },
        afterEnter(element) {
            element.style.height = 'auto';
        }
    },

    mounted() {


        // this.$root.$confirm = this.$refs.confirm

    },

    computed: {

      menuRoled() {
          if (this.$auth.check())  {
            console.log(this.$auth.user())
            let role = this.$auth.user().role;
            // roles = ['repartidor'];
            let menu = this.menu.filter((e) => e.role.includes(role));

            return menu;
          }
      }
    }
}
</script>
<style>
  .noty_theme__mint.noty_bar .noty_body {

    font-family: Poppins;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: height, opacity;
    overflow: hidden;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0
  }


  .zoom-enter-active,
  .zoom-leave-active {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    animation-name: zoom;
  }

  .zoom-leave-active {
    animation-direction: reverse;
  }

  @keyframes zoom {
    from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }

    100% {
      opacity: 1;
    }
  }


</style>