<template>
    <v-app >
        <v-toolbar class="primary white--text">
            <v-toolbar-title v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn  color="primary" class="white--text text-white" to="login">Ingresar</v-btn>


        </v-toolbar>
        <v-content>
            <transition
                    name="zoom"
                    mode="out-in"
                    @beforeLeave="beforeLeave"
                    @enter="enter"
                    @afterEnter="afterEnter"
            >
                <router-view/>
            </transition>
                <v-footer class="blue darken-2">
                <v-layout row wrap align-center>
                <v-flex xs12>
                    <div class="white--text ml-3">
                    Made with
                    <v-icon class="red--text">favorite</v-icon>
                    by <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
                    and <a class="white--text" href="https://github.com/vwxyzjn">Costa Huang</a>
                    </div>
                </v-flex>
                </v-layout>
            </v-footer>
        </v-content>

        <confirm ref="confirm"></confirm>

    </v-app>
</template>

<style>
    

</style>





<script>
    import Confirm from '../components/Confirm.vue';
    import 'vuejs-noty/dist/vuejs-noty.css'
    export default {
        components:{
          Confirm
        },
         data() {
            return {
                title: 'Pizza.js'
            }
        },
        methods:{
            signOut() {

                this.$auth.logout();
                this.$router.push('/login');

            },
            beforeLeave(element) {
                this.prevHeight = getComputedStyle(element).height;
            },
            enter(element) {
                const { height } = getComputedStyle(element);

                element.style.height = this.prevHeight;

                setTimeout(() => {
                    element.style.height = height;
                });
            },
            afterEnter(element) {
                element.style.height = 'auto';
            }
        }
    }
</script>

<style>

    .zoom-enter-active,
    .zoom-leave-active {
        animation-duration: 0.3s;
        animation-fill-mode: both;
        animation-name: zoom;
    }

    .zoom-leave-active {
        animation-direction: reverse;
    }

    @keyframes zoom {
        from {
            opacity: 0;
            transform: scale3d(0.3, 0.3, 0.3);
        }

        100% {
            opacity: 1;
        }
    }
</style>