<template>
    <v-container class="pa-4" fluid grid-list-md>

    <v-layout row wrap>
            <v-flex xs12>
                <category></category>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import Category from '../../components/Category'
    export default {
        components:{ Category }
    }
</script>

<style scoped>

</style>