<template>
    <v-container class="pa-4" fluid grid-list-md>
        <v-flex xs12>
            <h1 class="display-1 mb-1">Gestión de Pizzas</h1>
        </v-flex>

        <v-layout row wrap>
            <v-flex xs12 sm12 md6>
                <v-toolbar flat color="white">
                    <v-toolbar-title>Lista de pizzas</v-toolbar-title>

                <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="1200px">

                        <v-btn slot="activator" color="green" dark class="mb-2"><v-icon>add</v-icon>Agregar Usuario</v-btn>

                        <v-card>

                            <v-form v-model="valid" ref="form">


                                <v-card-title class="indigo">
                                    <span class="headline white--text">{{ formTitle }}</span>
                                </v-card-title>

                                <v-card-text>
                                    <v-container grid-list-md>
                                        <v-layout wrap>
                                            <v-flex xs12 sm6 md6>
                                                <v-text-field

                                                        v-model="editedItem.name"
                                                        hint="Al menos 5 carácteres"
                                                        data-vv-as="Nombre"
                                                        label="Nombre"
                                                        v-validate="'required|max:50'"
                                                        data-vv-name="name"
                                                        :error-messages="errors.collect('name')"

                                                >

                                                </v-text-field>
                                            </v-flex>
                                            <v-flex xs6>
                                                <v-select
                                                        v-model="editedItem.category"
                                                        data-vv-name="category"
                                                        :error-messages="errors.collect('category')"
                                                        v-validate="editedIndex < 0 ? 'required' : ''"

                                                        :items="categories"
                                                        label="Categoría"
                                                        data-vv-as="Categoría"

                                                ></v-select>
                                            </v-flex>


                                        </v-layout>

                                        <v-layout>
                                            <v-flex xs12 sm6 md6>
                                                <v-textarea
                                                        v-model="editedItem.description"

                                                        name="description"
                                                        data-vv-as="Descripción"
                                                        hint="Descripción corta y concisa, usualmente ingredientes"
                                                        label="Descripción"
                                                        auto-grow
                                                        data-vv-name="description"
                                                        :error-messages="errors.collect('description')"
                                                        v-validate="'max:300|required'"

                                                ></v-textarea>


                                            </v-flex>

                                            <v-flex xs6  class="text-xs-center text-sm-center text-md-center text-lg-center">
                                                <v-text-field label="Seleccionar Imagen" @click='pickFile' v-model='editedItem.image' prepend-icon='attach_file'></v-text-field>
                                                <input
                                                        type="file"
                                                        style="display: none"
                                                        ref="image"
                                                        accept="image/*"
                                                        @change="onFilePicked"
                                                >
                                                <img class="img-fluid img-thumbnail" :src="editedItem.imageUrl" height="150" v-if="editedItem.imageUrl"/>
                                                <img v-else class="img-fluid img-thumbnail" :src="editedItem.url_image" height="150"/>
                                                <p class="text-xs-center" v-if="editedItem.image">{{editedItem.image}}</p>
                                            </v-flex>

                                        </v-layout>
                                    </v-container>
                                </v-card-text>

                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                                    <v-btn color="blue darken-1" flat @click.native="save">Guardar</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table
                        :headers="headers"
                        :items="pizzas"
                        hide-actions
                        class="elevation-1"
                        :loading="false"
                        :pagination.sync="pagination"
                        :total-items="pagination.total"

                >
                    <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>

                    <template slot="items" slot-scope="props">

                        <td class="text-xs-center">{{ props.item.id }}</td>
                        <td class="text-xs-center">{{ props.item.name }}</td>


                        <td class="text-xs-center">{{ props.item.description }}</td>
                        <td class="">
                            <v-layout>
                                <v-btn fab dark small color="indigo darken-4" @click="editItem(props.item)">
                                    <v-icon dark>edit</v-icon>
                                </v-btn>

                                <v-btn fab dark small color="red" >
                                    <v-icon color="white" @click="deleteItem(props.item)">
                                        delete
                                    </v-icon>
                                </v-btn>

                                <v-btn fab dark small color="indigo" >
                                    <v-icon color="white" @click="editSizes(props.item)">
                                        remove_red_eye
                                    </v-icon>
                                </v-btn>
                            </v-layout>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-btn color="primary" @click="initialize">Reiniciar</v-btn>
                    </template>

                </v-data-table>

                <div class="text-xs-center pt-2">
                    <v-pagination v-model="pagination.page" :length="pagination.pages"></v-pagination>
                </div>
            </v-flex>
            <v-flex xs12 sm12 md6 >
               <prices v-if="itemSelectedPrices" :pizza="itemSelectedPrices" :sizes="editedSizes"></prices>
            </v-flex>
        </v-layout>

        <confirm ref="confirm"></confirm>

    </v-container>
</template>




<script>
    import Confirm from '../../components/Confirm'
    import Prices from '../../components/Prices'
    export default {
        components:{
            Confirm, Prices
        },
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            dialog: false,
            headers: [
                {
                    text: 'ID',
                    align: 'center',
                    sortable: true,
                    value: 'name'
                },
                {
                    text: 'Nombre',
                    align: 'center',
                    sortable: false,
                    value: 'name'
                },

                {
                    text: 'Descripción',
                    align: 'center',
                    sortable: false,
                    value: 'description'
                },
                {text: 'Acciones', value: 'name', align: 'center', sortable: false}
            ],
            loading: true,
            pizzas: [],
            pagination: {
                page:1,
                rowsPerPage:5
            },
            categories: [],
            valid: false,
            editedIndex: - 1,
            itemSelectedPrices: null,
            editedItem: {
                name: '',
                description: '',
                image: '',
                imageUrl:'',
                imageFile: null,
                category: '',
                prices: {
                    id: '',
                    size: '',
                    price: '',

                }
            },
            selectedFile: null,
            editedSizes: null,
            defaultItem: {
                name: '',
                description: '',
                image: '',
                imageUrl:'',
                imageFile: '',
                category:'',
                prices: {
                    id: '',
                    size: '',
                    price: '',

                }
            },

        }),
        mounted () {
            // this.$validator.localize('es', this.dictionary)
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? ' Nueva pizza' : 'Editar pizza'
            }

        },

        watch: {
            dialog (val) {
                val || this.close()
            },
            pagination: {
                handler () {
                    this.getPizzas()
                },
                deep: true
            }
        },

        created () {
            // this.initialize()
        },

        methods: {
            onFilePicked (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.editedItem.image = files[0].name
                    if(this.editedItem.image.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.selectedFile = files[0];
                        this.editedItem.imageUrl = fr.result;

                        this.editedItem.imageFile = files[0];
                    })
                } else {
                    this.editedItem.image = ''
                    this.editedItem.imageFile = ''
                    this.editedItem.imageUrl = ''
                }
            },
            pickFile () {
                this.$refs.image.click ()
            },
            capitalize(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },

            editSizes(item) {
                this.editedSizes = item.prices;
                this.itemSelectedPrices = item;

            },
            initialize () {
                this.getPizzas();
            },
            getPizzas() {
                this.loading = true;

                this.$http.get('categories').then((e) => {
                    console.log(e.data);
                    this.categories = e.data.data.map((e) => { return {text: this.capitalize(e.name), value: e.id}});
                });
                this.$http.get(`pizzas/?page=${this.pagination.page}&per_page=${this.pagination.rowsPerPage}`).then((e) => {
                    this.pizzas = e.data.data;
                    let pag =  e.data.meta;
                    this.pagination.rowPerPage = pag.per_page;
                    this.pagination.page = pag.current_page;
                    this.pagination.total = pag.total;
                    this.pagination.pages = pag.last_page;

                    this.loading = false;
                }).catch((e) => console.log(e));
            },


            editItem (item) {
                this.editedIndex = this.pizzas.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.pizzas.indexOf(item)

                this.$refs.confirm.open('Eliminar pizza '+item.name, `¿Estás seguro de eliminar la pizza ${item.name}?`, { color: 'indigo' }).then((confirm) => {


                    this.$http.delete('pizzas/'+item.id)
                        .then((e) => {
                            if (e.data.success) {
                                this.$noty.info('Pizza eliminada');

                                this.pizzas.splice(index, 1)
                            }
                        }).catch((e) => {
                        let errors = e.response.data.errors;
                        Object.keys(errors).forEach((key) => {
                            console.log(key,errors[key]);
                            this.$noty.error(errors[key]);

                        });

                    });
                })  ;
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {

                this.$validator.validate().then(result => {
                    if (!result) {

                    }else {

                        //Si se edita f
                        // console.log(this.editedItem.imageFile)
                        // console.log(this.selectedFile)
                        let bodyFormData = new FormData();

                        if (this.selectedFile) {
                            bodyFormData.append( 'image', this.selectedFile);
                        }
                        bodyFormData.append( 'name', this.editedItem.name );
                        bodyFormData.append( 'description', this.editedItem.description );
                        bodyFormData.append( 'pizzas_categories_id', this.editedItem.category);

                        let pizza = this.pizzas[this.editedIndex];
                        if (this.editedIndex > -1) {
                            bodyFormData.append('_method','PATCH');

                            this.$http.post(`pizzas/${this.editedItem.id}`,bodyFormData).then((e) => {
                                if (e.data.success) {

                                    Object.assign(this.pizzas[this.editedIndex], this.editedItem);

                                    this.$noty.info('Pizza editada');
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key,errors[key]);

                                    this.$noty.error(errors[key]);

                                });

                            });

                        } else {
                            //Guardar
                            this.$http.post(`pizzas`,bodyFormData).then((e) => {
                                if (e.data.success) {
                                    this.$noty.info('Pizza agregada');
                                    this.getPizzas();
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key,errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        }

                        // this.close()

                    }

                });


                //

            }
        }
    }
</script>

<style>

</style>
