<template>
    <v-container class="pa-4" fluid grid-list-md>
        <v-flex xs12>
            <h1 class="display-1 mb-1">Gestión de Usuarios</h1>
        </v-flex>
        <v-toolbar flat color="white">
            <v-toolbar-title>Lista de Usuarios
                </v-toolbar-title>
            <v-divider
                    class="mx-2"
                    inset
                    vertical
            ></v-divider>
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Buscar"
                    single-line
                    hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="1200px">
                <v-btn slot="activator" color="green" dark class="mb-2"><v-icon>add</v-icon>Agregar Usuario</v-btn>
                <v-card>
                    <v-form v-model="valid" ref="form">


                        <v-card-title class="indigo">
                            <span class="headline white--text">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container grid-list-md>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md6>
                                        <v-text-field

                                                v-model="editedItem.username"
                                                hint="Al menos 8 carácteres"
                                                data-vv-as="Nombre de usuario"
                                                label="Nombre de usuario"
                                                v-validate="'required'"
                                                data-vv-name="username"
                                                :error-messages="errors.collect('username')"

                                        >

                                        </v-text-field>

                                    </v-flex>
                                    <v-flex xs12 sm6 md6>
                                        <v-select
                                                v-model="editedItem.role"
                                                data-vv-name="roles"
                                                :error-messages="errors.collect('roles')"
                                                v-validate="editedIndex < 0 ? 'required' : ''"

                                                :items="comboRoles"
                                                label="Rol de usuario"
                                                data-vv-as="Rol de usuario"

                                        ></v-select>
                                    </v-flex>


                                </v-layout>
                                <v-layout wrap>
                                    <v-flex xs12 sm6 md6>
                                        <v-text-field

                                                v-model="editedItem.person.name"
                                                hint="Al menos 8 carácteres"
                                                data-vv-as="Nombre"
                                                label="Nombre"
                                                v-validate="'required'"
                                                data-vv-name="name"
                                                :error-messages="errors.collect('name')"

                                        >

                                        </v-text-field>
                                    </v-flex>

                                    <v-flex xs12 sm6 md6>
                                        <v-text-field

                                                v-model="editedItem.person.lastname"
                                                label="Apellido"
                                                data-vv-as="Apellido"
                                                v-validate="'required'"
                                                data-vv-name="lastname"
                                                :error-messages="errors.collect('lastname')"

                                        >

                                        </v-text-field>
                                    </v-flex>
                                    <v-layout row wrap>

                                        <v-flex xs2 md2 sm2>
                                            <v-select
                                                    v-model="editedItem.person.document_type"
                                                    :items="['V','E']"
                                                    label="Tipo"
                                                    v-validate="'required'"
                                                    data-vv-name="tipo"
                                                    :error-messages="errors.collect('tipo')"
                                                    data-vv-as="Tipo"


                                            ></v-select>


                                        </v-flex>
                                        <v-flex xs10 md4 sm4>
                                            <v-text-field

                                                    v-model="editedItem.person.document_number"

                                                    type="number"
                                                    label="Cédula"

                                                    v-validate="'required|numeric|max_value:99999999'"
                                                    data-vv-name="document_number"
                                                    :error-messages="errors.collect('document_number')"
                                                data-vv-as="Cédula">
                                            </v-text-field>
                                        </v-flex>


                                        <v-flex xs12 md6 sm6>
                                            <v-text-field

                                                    v-model="editedItem.email"

                                                    v-validate="'required|email'"
                                                    data-vv-name="email"
                                                    name="email"
                                                    ref="email"
                                                    :error-messages="errors.collect('email')"
                                                    type="email"
                                                    label="Correo"
                                                    data-vv-as="Correo">

                                            </v-text-field>

                                        </v-flex>
                                    </v-layout>
                                    <v-flex xs12 sm6 md6>
                                        <v-text-field

                                                v-model="editedItem.password"

                                                :v-validate="'min:5|max:20'+ editedIndex > 0 ? 'required' : ''"
                                                data-vv-name="password"
                                                name="password"
                                                ref="password"
                                                :error-messages="errors.collect('password')"
                                                type="password"
                                                label="Contraseña"
                                            data-vv-as="Contraseña">

                                        </v-text-field>
                                    </v-flex>

                                    <v-flex xs12 sm6 md6>
                                        <v-text-field

                                                v-model="editedItem.password_confirm"
                                                data-vv-name="confirmpassword"
                                                :error-messages="errors.collect('confirmpassword')"
                                                v-validate="'confirmed:password'+ editedIndex > 0 ? 'required' : ''"
                                                type="password"
                                                label="Confirmar Contraseña"
                                            data-vv-as="Confirmar Contraseña">

                                        </v-text-field>
                                    </v-flex>


                                </v-layout>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click.native="close">Cancelar</v-btn>
                            <v-btn color="blue darken-1" flat @click.native="save">Guardar</v-btn>

                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-toolbar>

        <v-data-table
                :headers="headers"
                :items="users"
                hide-actions
                :search="search"

                class="elevation-1"
        >
            <v-progress-linear slot="progress" color="blue" indeterminate></v-progress-linear>

            <template slot="items" slot-scope="props">

                <td class="text-xs-center">{{ props.item.id }}</td>
                <td class="text-xs-center">{{ props.item.username }}</td>


                <td class="text-xs-center">{{ props.item.person.name }}</td>
                <td class="text-xs-center">{{ props.item.person.lastname }}</td>



                <td class="text-xs-center">{{ props.item.email }}</td>
                <td class="text-xs-center">{{ rolesToString(props.item.roles) }}</td>

                <td class="">
                    
                    <v-btn fab dark small color="primary" v-if="rolesToString(props.item.roles)=='repartidor'">
                        <v-icon color="white" @click="reportByDay(props.item.id)">
                            visibility
                        </v-icon>
                        
                    </v-btn>

                    <v-btn fab dark small color="indigo darken-4" @click="editItem(props.item)">
                        <v-icon dark>edit</v-icon>
                    </v-btn>



                    <v-btn fab dark small color="red" download >
                        <v-icon color="white" @click="deleteItem(props.item)">
                            delete
                        </v-icon>
                    </v-btn>
                </td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                La búsqueda "{{ search }}" no tuvo resultados.
            </v-alert>
            <template slot="no-data">
                <v-btn color="primary" @click="initialize">Reiniciar</v-btn>
            </template>
        </v-data-table>

        <div class="text-xs-center pt-2">
            <v-pagination v-model="pagination.page" :length="pagination.pages"></v-pagination>
        </div>
        <confirm ref="confirm"></confirm>
    </v-container>
</template>




<script>
    import Confirm from '../../components/Confirm'

    export default {
        components:{
         Confirm
        },
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            dialog: false,
            search: '',
            headers: [
                {
                    text: 'ID',
                    align: 'center',
                    sortable: true,
                    pagination:{
                        page:1,
                        rowsPerPage: 5
                    },
                    value: 'name'
                },
                {
                    text: 'Nombre de usuario',
                    align: 'center',
                    sortable: false,
                    value: 'username'
                },
                {
                    text: 'Nombre',
                    align: 'center',
                    sortable: false,
                    value: 'name'
                },
                {
                    text: 'Apellido',
                    align: 'center',
                    sortable: false,
                    value: 'lastname'
                },
                {
                    text: 'E-Mail',
                    align: 'center',
                    sortable: false,
                    value: 'email'
                },
                {text: 'Rol', value: 'rol', align: 'center',},
                {text: 'Acciones', value: 'name', align: 'center', sortable: false}
            ],
            users: [],
            roles: [],
            valid: false,
            pagination:{
                page:1,
                rowsPerPage:5
            },
            editedIndex: - 1,
            editedItem: {
                person: {
                    name: '',
                    lastname: '',
                    document_type: '',
                    document_number: ''
                },

                email: '',
                password: '',
                password_confirm: '',
                username: '',
                role: ''

            },
            defaultItem: {
                person: {
                    name: '',
                    lastname: '',
                    document_type: '',
                    document_number: ''
                },

                email: '',
                password: '',
                password_confirm: '',
                username: '',
                role: ''

            },

        }),
        notifications: {
            showToast: {
                title: 'Error al editar',

                type: 'info'
            }
        },

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? ' Nuevo usuario' : 'Editar usuario'
            },
            comboRoles() {
                return this.roles.map((e) => {
                    return {text: this.capitalize(e.name), value: e.id}
                });
            },

        },

        watch: {
          
            dialog (val) {
                val || this.close()
            },
            pagination: {
                handler () {
                    this.getUsers()
                },
                deep: true
            }
        },

        created () {
            this.initialize()
        },

        methods: {

            reportByDay(id) {
                console.log(id)
                  this.$http({
                  url: 'reportByDay/'+id,
                  method: 'GET',
                  responseType: 'blob', // important
                }).then((response) => {
                  if (!window.navigator.msSaveOrOpenBlob){
                    // BLOB NAVIGATOR
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'reportByDay.pdf');
                    document.body.appendChild(link);
                    link.click();
                  }else{
                    // BLOB FOR EXPLORER 11
                    const url = window.navigator.msSaveOrOpenBlob(new Blob([response.data]),"reportByDay.pdf");
                  }
                });
            },

            capitalize(string) {
                return string.charAt(0).toUpperCase() + string.slice(1);
            },
            rolesToString(roles) {
                return roles.map(function(elem){
                    return elem.name;
                }).join(",");
            },
            initialize () {
                this.$http.get('roles').then((e) => this.roles = e.data.roles).catch((e) => console.log(e));
                this.getUsers();
            },
            getUsers() {
                const {  page, rowsPerPage } = this.pagination

                this.$http.get(`users/?page=${page}&per_page=${rowsPerPage}`).then((e) => {
                    this.loading = false;
                    let pag =  e.data.meta;
                    this.users = e.data.data;
                    this.pagination.rowPerPage = pag.per_page;
                    this.pagination.page = pag.current_page;
                    this.pagination.total = pag.total;
                    this.pagination.pages = pag.last_page;
                }).catch((e) => console.log(e));

            },


            editItem (item) {
                this.editedIndex = this.users.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem (item) {
                const index = this.users.indexOf(item)

                   this.$refs.confirm.open('Eliminar usuario '+item.username, `¿Estás seguro de eliminar el usuario ${item.username}?`, { color: 'indigo' }).then((confirm) => {


                    this.$http.delete('users/'+item.id)
                        .then((e) => {
                            if (e.data.success) {
                                this.$noty.info('Usuario eliminado');
                                this.users.splice(index, 1)
                            }
                        }).catch((e) => {
                            let errors = e.response.data.errors;
                            Object.keys(errors).forEach((key) => {
                                console.log(key,errors[key]);
                                this.$noty.error(errors[key]);

                            });

                        });
                })  ;
            },

            close () {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save () {

                this.$validator.validate().then(result => {
                    if (!result) {

                    }else {

                        //Si se edita
                        let user = this.users[this.editedIndex];

                        if (this.editedIndex > -1) {
                            this.$http.patch('users/'+user.id,{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {

                                    Object.assign(this.users[this.editedIndex], this.editedItem);
                                    this.$noty.info('Usuario editado');
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key,errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        } else {
                            //Guardar
                            this.$http.post('users',{
                                ...this.editedItem
                            }).then((e) => {
                                if (e.data.success) {
                                    this.$noty.info('Usuario guardado');
                                    this.getUsers();
                                    this.close();
                                }

                            }).catch((e) => {
                                let errors = e.response.data.errors;
                                Object.keys(errors).forEach((key) => {
                                    console.log(key,errors[key]);
                                    this.$noty.error(errors[key]);
                                });

                            });

                        }


                    }

                });


                //

            }
        }
    }
</script>

<style>

</style>
