<template>
    <v-container class="pa-4" fluid grid-list-md>
        <v-layout wrap>
            <v-flex xs12>
                <h1 class="display-1 mb-1">Panel de administración</h1>
            </v-flex>
           
            <!-- <v-flex xs12 md12>
                <v-card height='100%'>
                    <v-card-title class="red  darken-4 white--text"><h3>Ordenes activas</h3></v-card-title>
                    <v-data-table class="mt-1" :headers='ordenesActivasHeader'  :items='orders'>
                        <template slot='items' slot-scope='props'>
                            <td>{{props.item.user.username}}</td>
                            <td>{{props.item.total}}</td>
                            <td>{{props.item.status.status}}</td>
                            <td><v-btn flat class="primary">Ver</v-btn></td>
                        </template>

                    </v-data-table>

                </v-card>

            </v-flex> -->
        </v-layout>


    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                orders:[],
                ordenesActivasHeader:[
                    {
                        text: 'Usuario',
                        align: 'left',
                        sortable: false,
                        value: 'usuario'
                    },
                    { text: 'Total', value: 'total' },

                    { text: 'Estatus', value: 'status' },
                    {text: 'Acciones', value: 'acciones'}
                ],
                ordenesActivas: [
                    {
                        usuario: 'randy',
                        direccion: 'Universidad Rómulo Gallegos',
                        estatus: 'Preparación'
                    }
                ]
            }
        },
        methods:{

            getOrders() {
                this.$http.get('orders',{

                }).then((e) => {

                    this.orders = e.data.data;
                    //console.log(this.orders);
                }).catch((e) => {

                });
            }
        },
        created: function() {
            this.getOrders();
        },
    }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
