<template>
    <v-app >
        <v-container>
            <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                <v-card-title class="primary white--text"><h1 class="text-md-center">Ingresar al sistema</h1></v-card-title>

                <v-card-text>
                    <v-container>
                        <v-layout row wrap align-center>
                            <v-flex class="text-xs-center">
                                <v-avatar size="150"  style="display: inline-block;">
                                    <img src="@/assets/user.svg" alt="">
                                </v-avatar>
                                
                            </v-flex>
                        </v-layout>
                    <form @submit.prevent="onSignup " method="post" autocomplete="off"  >
                        <v-layout row>
                        <v-flex xs12>
                            <v-text-field
                            name="email"
                            label="Correo"
                            id="email"
                            v-model="email"
                            type="email"
                            required></v-text-field>
                        </v-flex>
                        </v-layout>
                        <v-layout row>
                        <v-flex xs12>
                            <v-text-field
                            name="password"
                            label="Contraseña"
                            id="password"
                            v-model="password"
                            type="password"
                            required></v-text-field>
                        </v-flex>
                        </v-layout>

                        <v-layout row  wrap align-center>
                        <v-flex class="text-xs-center" xs12>
                            <v-btn type="submit"   color="success" :loading="loading">Entrar</v-btn>
                        </v-flex>

                        
                        
                        </v-layout>
                        <!--<p class="mb-3 text-center"><a href="">¿Olvidaste tu contraseña?</a></p>-->
                    </form>
                    </v-container>
                </v-card-text>
                </v-card>
            </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>


<script>
  export default {
    beforeCreate() {
      this.$store.commit('SET_LAYOUT', 'blank-layout')
    },
    data () {
      return {
        email: '',
        password: '',
        error: false,
        loading: false,
      }
    },
    computed: {
      comparePasswords () {
        return this.password !== this.confirmPassword ? 'Contraseñas no coinciden' : ''
      },
      user () {
        return this.$store.getters.user
      }
    },
    watch: {

    },
    methods: {

        onSignup () {
            var app = this;
            this.loading = true;
            this.$auth.login({
                params: {
                    email: app.email,
                    password: app.password
                },
                success: function (data) {
                    this.loading = false;

                    this.$store.commit('SET_LAYOUT', 'app-layout')

                },
                error: function (e) {
                    this.loading = false;
                    console.log(e,e.response)
                   this.$noty.error('Usuario o contraseña incorrecta')
                    this.loading = false;
                },
                rememberMe: true,
                redirect: '/admin',
                fetchUser: true,
            });
        },

         // this.$store.dispatch('signUserUp', {email: this.email, password: this.password})

    }
  }
</script>