<template>
    <v-container class="pa-4" fluid grid-list-md>
        <v-layout wrap>
            <v-flex xs12>
                <h1 class="display-1 mb-1">Configuraciones</h1>
            </v-flex>
      
            <v-flex xs12>
                <v-card>
                  <v-container
                    fluid
                    grid-list-lg
                  >
                    <v-layout row wrap>
                      <v-flex xs10 md4 >

                    
                        <v-text-field type="number" v-model="iva" label="Editar IVA"></v-text-field>
                        
                        </v-flex>

                        <v-flex xs2 md2>
                            <v-btn color="primary" @click="updateIVA()">Modificar</v-btn>
                        </v-flex>

                </v-layout>

                 <v-flex xs12>
                    <v-btn :loading="loading" @click="dbBackup()" color="primary"><v-icon>cloud_download</v-icon> Descargar respaldo de base de datos</v-btn>
                 </v-flex>
            </v-container>
        </v-card>
            </v-flex>
                
        </v-layout>


    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                iva: '',
                loading: false,
              
            }
        },
        methods:{


            dbBackup() {
                this.loading = true;
                this.$http({
                  url: 'settings/dbBackup',
                  method: 'GET',
                  responseType: 'blob', // important
                }).then((response) => {
                  if (!window.navigator.msSaveOrOpenBlob){
                    // BLOB NAVIGATOR
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'database.sql');
                    document.body.appendChild(link);
                    link.click();
                    this.loading = false;
                  }else{
                    // BLOB FOR EXPLORER 11
                    const url = window.navigator.msSaveOrOpenBlob(new Blob([response.data]),"database.sql");
                    this.loading = false;
                  }
                });
            },
            getIva() {
                this.$http.get('settings/IVA').then((e) => {

                    this.iva = e.data.iva;



                }).catch((e) => {
                    if (e.response.errors) {

                    }
                });
            },

            updateIVA() {
                this.$http.post('settings/IVA',{iva:this.iva}).then((e) => {

                    if (e.data.success) {
                        this.$noty.info('Iva Actualizado');
                    }                                   


                }).catch((e) => {
                    if (e.response.errors) {

                    }
                });
            }
        },
        created: function() {
            this.getIva();
        },
    }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1, h2 {
        font-weight: normal;
    }
    ul {
        list-style-type: none;
        padding: 0;
    }
    li {
        display: inline-block;
        margin: 0 10px;
    }
    a {
        color: #42b983;
    }
</style>
